body {
    background-color: rgba(231, 218, 197, 0.3);
    background-image: url(http://seacoastnh.com/images/stories/johnsmith/Smith1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

h1 {
    font-size: 66px;
    text-align: center;
    color: rgb(231, 218, 197);
}

header, aside {
    background-color: rgb(16, 29, 47);
}

nav, nav a  {
    color: rgb(231, 218, 197);
}

nav a:visited {
    color: rgb(226, 140, 121);
}

#interests a:visited {
    color: rgb(100, 36, 22);
}

nav a:hover, #interests a:hover {
    color: rgb(213, 100, 72);
    font-weight: bolder;
    font-size: x-large;
}

figure {
    margin: auto;
    border-color: rgb(5, 9, 15);
    border-width: 10px;
    border-radius: 10px;
}
img {
    vertical-align: middle;
}

article {
    font-weight: 700;
    background-color: rgba(109, 130, 142, 0.5) ;
}

h2 {
    color: rgb(231, 218, 197);
    background-color: rgb(16, 29, 47);
}

#feedback div, #feedback h2 {
    background-color: rgba(52, 36, 30, 0.95);
    text-align: center;
}

#feedback h2 {
    color: rgb(231, 218, 197);
}

#sendbutton {
    background-color: rgb(47, 84, 137);
    border-color: whitesmoke;
    border-width: 6px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: 600;
    color: whitesmoke;
}
footer {
    margin: auto;
    text-align: center;
}

footer h5 {
    background-color: rgba(231, 218, 197, 0.8);
}