body {
    background-color: rgb(231, 218, 197);
}

h1 {
    font-size: 66px;
    text-align: center;
    color: rgb(109, 130, 142);
}

header, aside {
    background-color: rgb(16, 29, 47);
}

nav, nav a  {
    color: rgb(231, 218, 197);
}

figure {
    margin: auto;
    border-color: rgb(5, 9, 15);
    border-width: 10px;
    border-radius: 10px;
}
img {
    vertical-align: middle;
}

h2 {
    color: rgb(109, 130, 142);
    background-color: rgb(16, 29, 47);
}

#feedback h2 {
    color: rgb(231, 218, 197);
    background-color: rgb(116, 82, 67);
    text-align: center; 
}

#feedback div {
    background-color: rgb(116, 82, 67);
    text-align: center;
}

#sendbutton {
    background-color: rgb(103, 145, 203);
    border-color: rgb(5, 9, 15);
    border-width: 3px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: 600;
    color: rgb(231, 218, 197);
}
footer {
    margin: auto;
    text-align: center;
}